@font-face {
    font-family: MullerLight;
    src: url(fonts/Muller-Light.otf);
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    width: 1280px;
}

.edgeLoad-EDGE-41211846 { visibility:hidden; }

.menu {
    background: url(images/menu.png) no-repeat;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
}
.menu li {
    cursor: pointer;
}

.circle {
    position: absolute;
    border-radius: 250px;
    transition: box-shadow .5s;
    cursor: pointer;
}
.circle:hover {
    box-shadow: inset 0px 15px 15px #696969;
}
.circle-1 {
    top: 149px;
    left: 887px;
    width: 166px;
    height: 166px;    
}
.circle-2 {
    top: 149px;
    left: 284px;
    width: 154px;
    height: 152px; 
}
.circle-3 {
    top: 585px;
    left: 408px;
    width: 119px;
    height: 119px;
    background: none;
}
.circle-3:hover {
    box-shadow: inset 0px 15px 15px #172F28;
}
.circle-4 {
    top: 513px;
    left: 834px;
    width: 119px;
    height: 119px;
}
.circle-5 {
    top: 248px;
    left: 395px;
    width: 324px;
    height: 324px;
}

.menu1 {
    position: absolute;
    background: url(images/item1.png) no-repeat;
    width: 160px;
    height: 67px;
    top: 55px;
    left: 4px;
}
.menu2 {
    position: absolute;
    background: url(images/item2.png) no-repeat;
    width: 151px;
    height: 66px;
    top: 44px;
    left: 3px;
    background-size: 100%;
}
.menu3 {
    position: absolute;
    background: url(images/item3.png) no-repeat;
    width: 120px;
    height: 31px;
    top: 43px;
    left: 0px;
    background-size: 100%;
}
.menu4 {
    position: absolute;
    background: url(images/item4.png) no-repeat;
    width: 116px;
    height: 43px;
    top: 39px;
    left: 2px;
    background-size: 100%;
}
.menu5 {
    position: absolute;
    background: url(images/item5.png) no-repeat;
    width: 310px;
    height: 153px;
    top: 109px;
    left: 8px;
    background-size: 100%;
}



/* */
.bel {
    position: absolute;
    width: 395px;
    height: 308px;
    top:-80px;
    right:0px;
    background: url(images/bel.png) no-repeat;
    z-index: 4;
}
.mainmenu {
    position: absolute;
    z-index: 5;
    background: #7974b2;
    background: -moz-linear-gradient(top,  #7974b2 50%, #5656a1 51%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#7974b2), color-stop(51%,#5656a1));
    background: -webkit-linear-gradient(top,  #7974b2 50%,#5656a1 51%);
    background: -o-linear-gradient(top,  #7974b2 50%,#5656a1 51%);
    background: -ms-linear-gradient(top,  #7974b2 50%,#5656a1 51%);
    background: linear-gradient(to bottom,  #7974b2 50%,#5656a1 51%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7974b2', endColorstr='#5656a1',GradientType=0 );

    right: 90px;
    bottom: 20px;
    padding: 8px 30px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    font-family: MullerLight;
}
.mainmenu:hover {
    opacity: 0.9;
}
.button {
    background: #ce7f75;
    background: -moz-linear-gradient(top,  #ce7f75 49%, #c84d3e 50%, #c84d3e 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,#ce7f75), color-stop(50%,#c84d3e), color-stop(50%,#c84d3e));
    background: -webkit-linear-gradient(top,  #ce7f75 49%,#c84d3e 50%,#c84d3e 50%);
    background: -o-linear-gradient(top,  #ce7f75 49%,#c84d3e 50%,#c84d3e 50%);
    background: -ms-linear-gradient(top,  #ce7f75 49%,#c84d3e 50%,#c84d3e 50%);
    background: linear-gradient(to bottom,  #ce7f75 49%,#c84d3e 50%,#c84d3e 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce7f75', endColorstr='#c84d3e',GradientType=0 );

    position: absolute;
    z-index: 5;
    font-size: 22px;
    color: #fff;
    padding: 8px 20px;
    width: 150px;
    cursor: pointer;
    font-family: MullerLight;
}
.button:hover {
    opacity: 0.9;
}
.text {
    background: #FBF6B9;
    z-index: 5;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 590px;
    left: 450px;
    top: 100px;
    overflow-y: scroll;
    font-family: Arial;
    line-height: 20px;
}